*{
	margin: 0;
	padding: 0;
}
.bg-normal{
	background: #fff;
}
.bg-login{
	height: 100vh;
}
.bg{
	height: 160vh;
}
.bg-pink{
	background: #FE3565;
}
.principal{
	margin-top: -665px;
	text-align: center;
}
.principal-cadastro{
	margin-top: -1080px;
	box-shadow: 5px 5px 80px rgb(0,0,0,.4); 
	text-align: center;
}
.bg-invert{
	background: #FE3565;
	box-shadow: 5px 5px 80px rgb(0,0,0,.4); 
}
.login-area{
	padding-bottom: 150px;
	padding-top: 150px;
	box-shadow: 5px 5px 80px rgb(0,0,0,.4); 
}
.cadastro-area{
		padding-bottom: 100px;
	padding-top: 100px;
	box-shadow: 5px 5px 80px rgb(0,0,0,.4); 
}
.login-area form h2, .cadastro-area form h2{
	font-weight: bold;
}
.login-area form input[type="text"], input[type="password"], .cadastro-area form input[type="text"], input[type="password"],.button, .cadastro-area form select{
	padding: 10px 13px;
	width: 60%;
	margin-top: 25px;
	border-radius:2px;
	border: none; 
	background: #eee;
	outline: none;
}
.cadastro-area form input[type="date"]{
	padding: 10px 13px;
	width: 60%;
	margin-top: 25px;
	border-radius:2px;
	border: none; 
	background: #eee;
	outline: none;
	color: #9a9a9a;
}
.cadastro-area form textarea{
	padding: 10px 13px;
	width: 60%;
	height: 130px;
	margin-top: 25px;
	border-radius:2px;
	border: none; 
	background: #eee;
	outline: none;
	color: #9a9a9a;
	resize: none;
}
.login-area form input[type="submit"], .cadastro-area form input[type="submit"]{
	border: none;
	width: 150px;
	height: 35px;
	margin-top: 20px;
	border-radius: 40px;
	background: #FE3565;
	color: white;
	font-weight: bold;
	outline: none;
}

.login-area form a, .cadastro-area form a{
	position: relative;
	color: black;
	font-weight: 500;

}
.bg-invert strong{
	position: relative;
	top: 230px;
	color: white;
}
.bg-invert strong h2,.bg-invert strong p{
	opacity: .9;
}
